nifi-flow/PutDatabaseRecord(Use_Schema_Text).json
{"flowContents":{"identifier":"7a080cd4-c411-3b4b-9145-07c2d9f38d9e","instanceIdentifier":"6ec13728-7fec-1f82-ffff-ffffa6c726de","name":"PutDatabaseRecord(Use Schema Text)","comments":"","position":{"x":2016.0,"y":544.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"8f5a85ef-c127-3d7a-83be-c618b993e0b7","instanceIdentifier":"6c2ee7b4-018e-1000-ffff-fffffb137a94","name":"GenerateFlowFile","comments":"","position":{"x":3464.0,"y":224.0},"type":"org.apache.nifi.processors.standard.GenerateFlowFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.23.1"},"properties":{"character-set":"UTF-8","avro.schema":"{\n    \"type\": \"record\",\n    \"name\": \"EMP\",\n    \"namespace\": \"SOR\",\n    \"fields\": [\n        {\n            \"name\": \"EMPNO\",\n            \"type\": \"int\"\n        },\n        {\n            \"name\": \"ENAME\",\n            \"type\": [\n                \"null\",\n                \"string\"\n            ],\n            \"default\": null\n        },\n        {\n            \"name\": \"JOB\",\n            \"type\": [\n                \"null\",\n                \"string\"\n            ],\n            \"default\": null\n        },\n        {\n            \"name\": \"MGR\",\n            \"type\": [\n                \"null\",\n                \"int\"\n            ],\n            \"default\": null\n        },\n        {\n            \"name\": \"HIREDATE\",\n            \"type\": [\n                \"null\",\n                {\n                    \"type\": \"long\",\n                    \"logicalType\": \"timestamp-millis\"\n                }\n            ],\n            \"default\": null\n        },\n        {\n            \"name\": \"SAL\",\n            \"type\": [\n                \"null\",\n                \"double\"\n            ],\n            \"default\": null\n        },\n        {\n            \"name\": \"COMM\",\n            \"type\": [\n                \"null\",\n                \"double\"\n            ],\n            \"default\": null\n        },\n        {\n            \"name\": \"DEPTNO\",\n            \"type\": [\n                \"null\",\n                \"int\"\n            ],\n            \"default\": null\n        },\n        {\n            \"name\": \"LAST_UPDATE_TIME\",\n            \"type\": [\n                \"null\",\n                {\n                    \"type\": \"long\",\n                    \"logicalType\": \"timestamp-millis\"\n                }\n            ]\n        }\n    ]\n}","File Size":"0B","mime-type":null,"generate-ff-custom-text":null,"Batch Size":"1","Unique FlowFiles":"false","Data Format":"Text"},"propertyDescriptors":{"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"avro.schema":{"name":"avro.schema","displayName":"avro.schema","identifiesControllerService":false,"sensitive":false},"File Size":{"name":"File Size","displayName":"File Size","identifiesControllerService":false,"sensitive":false},"mime-type":{"name":"mime-type","displayName":"Mime Type","identifiesControllerService":false,"sensitive":false},"generate-ff-custom-text":{"name":"generate-ff-custom-text","displayName":"Custom Text","identifiesControllerService":false,"sensitive":false},"Batch Size":{"name":"Batch Size","displayName":"Batch Size","identifiesControllerService":false,"sensitive":false},"Unique FlowFiles":{"name":"Unique FlowFiles","displayName":"Unique FlowFiles","identifiesControllerService":false,"sensitive":false},"Data Format":{"name":"Data Format","displayName":"Data Format","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"1 min","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"7a080cd4-c411-3b4b-9145-07c2d9f38d9e"},{"identifier":"b3fafc41-e11c-3af2-adbd-4659ec6c6b8e","instanceIdentifier":"4af035ff-5d0b-13b7-8647-faac70f7921f","name":"PutDatabaseRecord","comments":"","position":{"x":3464.0,"y":696.0},"type":"org.apache.nifi.processors.standard.PutDatabaseRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.23.1"},"properties":{"put-db-record-allow-multiple-statements":"false","table-schema-cache-size":"100","put-db-record-schema-name":"SOR","put-db-record-field-containing-sql":null,"put-db-record-quoted-table-identifiers":"false","Statement Type Record Path":null,"put-db-record-unmatched-column-behavior":"Fail on Unmatched Columns","put-db-record-catalog-name":null,"put-db-record-translate-field-names":"true","put-db-record-dcbp-service":"42de6642-f704-3f75-a8aa-a244b5587353","put-db-record-query-timeout":"0 seconds","rollback-on-failure":"false","put-db-record-statement-type":"INSERT","db-type":"Oracle 12+","put-db-record-update-keys":null,"put-db-record-quoted-identifiers":"false","put-db-record-table-name":"EMP_CDC","put-db-record-unmatched-field-behavior":"Ignore Unmatched Fields","put-db-record-max-batch-size":"1000","put-db-record-record-reader":"4ca2f01a-805b-3c67-a9b1-18d80a75f362","Data Record Path":null},"propertyDescriptors":{"put-db-record-allow-multiple-statements":{"name":"put-db-record-allow-multiple-statements","displayName":"Allow Multiple SQL Statements","identifiesControllerService":false,"sensitive":false},"table-schema-cache-size":{"name":"table-schema-cache-size","displayName":"Table Schema Cache Size","identifiesControllerService":false,"sensitive":false},"put-db-record-schema-name":{"name":"put-db-record-schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false},"put-db-record-field-containing-sql":{"name":"put-db-record-field-containing-sql","displayName":"Field Containing SQL","identifiesControllerService":false,"sensitive":false},"put-db-record-quoted-table-identifiers":{"name":"put-db-record-quoted-table-identifiers","displayName":"Quote Table Identifiers","identifiesControllerService":false,"sensitive":false},"Statement Type Record Path":{"name":"Statement Type Record Path","displayName":"Statement Type Record Path","identifiesControllerService":false,"sensitive":false},"put-db-record-unmatched-column-behavior":{"name":"put-db-record-unmatched-column-behavior","displayName":"Unmatched Column Behavior","identifiesControllerService":false,"sensitive":false},"put-db-record-catalog-name":{"name":"put-db-record-catalog-name","displayName":"Catalog Name","identifiesControllerService":false,"sensitive":false},"put-db-record-translate-field-names":{"name":"put-db-record-translate-field-names","displayName":"Translate Field Names","identifiesControllerService":false,"sensitive":false},"put-db-record-dcbp-service":{"name":"put-db-record-dcbp-service","displayName":"Database Connection Pooling Service","identifiesControllerService":true,"sensitive":false},"put-db-record-query-timeout":{"name":"put-db-record-query-timeout","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false},"rollback-on-failure":{"name":"rollback-on-failure","displayName":"Rollback On Failure","identifiesControllerService":false,"sensitive":false},"put-db-record-statement-type":{"name":"put-db-record-statement-type","displayName":"Statement Type","identifiesControllerService":false,"sensitive":false},"db-type":{"name":"db-type","displayName":"Database Type","identifiesControllerService":false,"sensitive":false},"put-db-record-update-keys":{"name":"put-db-record-update-keys","displayName":"Update Keys","identifiesControllerService":false,"sensitive":false},"put-db-record-quoted-identifiers":{"name":"put-db-record-quoted-identifiers","displayName":"Quote Column Identifiers","identifiesControllerService":false,"sensitive":false},"put-db-record-table-name":{"name":"put-db-record-table-name","displayName":"Table Name","identifiesControllerService":false,"sensitive":false},"put-db-record-unmatched-field-behavior":{"name":"put-db-record-unmatched-field-behavior","displayName":"Unmatched Field Behavior","identifiesControllerService":false,"sensitive":false},"put-db-record-max-batch-size":{"name":"put-db-record-max-batch-size","displayName":"Maximum Batch Size","identifiesControllerService":false,"sensitive":false},"put-db-record-record-reader":{"name":"put-db-record-record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false},"Data Record Path":{"name":"Data Record Path","displayName":"Data Record Path","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"7a080cd4-c411-3b4b-9145-07c2d9f38d9e"},{"identifier":"342e92d7-2528-3340-9f34-fb92582a5012","instanceIdentifier":"43893142-ac2d-1d9b-a02d-6023d33fcc05","name":"LogAttribute","comments":"","position":{"x":3464.0,"y":920.0},"type":"org.apache.nifi.processors.standard.LogAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.23.1"},"properties":{"Log prefix":null,"character-set":"UTF-8","Log FlowFile Properties":"true","Log Level":"info","attributes-to-ignore-regex":null,"Attributes to Ignore":null,"Attributes to Log":null,"attributes-to-log-regex":".*","Output Format":"Line per Attribute","Log Payload":"false"},"propertyDescriptors":{"Log prefix":{"name":"Log prefix","displayName":"Log prefix","identifiesControllerService":false,"sensitive":false},"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"Log FlowFile Properties":{"name":"Log FlowFile Properties","displayName":"Log FlowFile Properties","identifiesControllerService":false,"sensitive":false},"Log Level":{"name":"Log Level","displayName":"Log Level","identifiesControllerService":false,"sensitive":false},"attributes-to-ignore-regex":{"name":"attributes-to-ignore-regex","displayName":"Attributes to Ignore by Regular Expression","identifiesControllerService":false,"sensitive":false},"Attributes to Ignore":{"name":"Attributes to Ignore","displayName":"Attributes to Ignore","identifiesControllerService":false,"sensitive":false},"Attributes to Log":{"name":"Attributes to Log","displayName":"Attributes to Log","identifiesControllerService":false,"sensitive":false},"attributes-to-log-regex":{"name":"attributes-to-log-regex","displayName":"Attributes to Log by Regular Expression","identifiesControllerService":false,"sensitive":false},"Output Format":{"name":"Output Format","displayName":"Output Format","identifiesControllerService":false,"sensitive":false},"Log Payload":{"name":"Log Payload","displayName":"Log Payload","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"7a080cd4-c411-3b4b-9145-07c2d9f38d9e"},{"identifier":"2e7eea43-622a-3e76-b62f-552bd853fbb6","instanceIdentifier":"94473143-804c-1515-9889-848f7211e9e2","name":"ExecuteSQLRecord","comments":"","position":{"x":3464.0,"y":472.0},"type":"org.apache.nifi.processors.standard.ExecuteSQLRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.23.1"},"properties":{"esql-max-rows":"1","esqlrecord-record-writer":"e87bfdd0-6c17-3a82-8fde-b1c5662f2d59","dbf-default-precision":"10","Max Wait Time":"0 seconds","Database Connection Pooling Service":"42de6642-f704-3f75-a8aa-a244b5587353","sql-post-query":null,"esql-auto-commit":"true","dbf-user-logical-types":"true","dbf-default-scale":"0","sql-pre-query":null,"esql-output-batch-size":"0","esql-fetch-size":"0","SQL select query":"select\nempno,ENAME,JOB,MGR,HIREDATE,SAL,COMM,DEPTNO,LAST_UPDATE_TIME\nfrom sor.emp","esqlrecord-normalize":"false"},"propertyDescriptors":{"esql-max-rows":{"name":"esql-max-rows","displayName":"Max Rows Per Flow File","identifiesControllerService":false,"sensitive":false},"esqlrecord-record-writer":{"name":"esqlrecord-record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false},"dbf-default-precision":{"name":"dbf-default-precision","displayName":"Default Decimal Precision","identifiesControllerService":false,"sensitive":false},"Max Wait Time":{"name":"Max Wait Time","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false},"Database Connection Pooling Service":{"name":"Database Connection Pooling Service","displayName":"Database Connection Pooling Service","identifiesControllerService":true,"sensitive":false},"sql-post-query":{"name":"sql-post-query","displayName":"SQL Post-Query","identifiesControllerService":false,"sensitive":false},"esql-auto-commit":{"name":"esql-auto-commit","displayName":"Set Auto Commit","identifiesControllerService":false,"sensitive":false},"dbf-user-logical-types":{"name":"dbf-user-logical-types","displayName":"Use Avro Logical Types","identifiesControllerService":false,"sensitive":false},"dbf-default-scale":{"name":"dbf-default-scale","displayName":"Default Decimal Scale","identifiesControllerService":false,"sensitive":false},"sql-pre-query":{"name":"sql-pre-query","displayName":"SQL Pre-Query","identifiesControllerService":false,"sensitive":false},"esql-output-batch-size":{"name":"esql-output-batch-size","displayName":"Output Batch Size","identifiesControllerService":false,"sensitive":false},"esql-fetch-size":{"name":"esql-fetch-size","displayName":"Fetch Size","identifiesControllerService":false,"sensitive":false},"SQL select query":{"name":"SQL select query","displayName":"SQL select query","identifiesControllerService":false,"sensitive":false},"esqlrecord-normalize":{"name":"esqlrecord-normalize","displayName":"Normalize Table/Column Names","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"7a080cd4-c411-3b4b-9145-07c2d9f38d9e"},{"identifier":"60e10c7f-4c06-3478-91ef-c3de1b15785a","instanceIdentifier":"6ec1336f-7fec-1f82-a7a7-3ebd3251b279","name":"LogAttribute","comments":"","position":{"x":3984.0,"y":920.0},"type":"org.apache.nifi.processors.standard.LogAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.23.1"},"properties":{"Log prefix":null,"character-set":"UTF-8","Log FlowFile Properties":"true","Log Level":"info","attributes-to-ignore-regex":null,"Attributes to Ignore":null,"Attributes to Log":null,"attributes-to-log-regex":".*","Output Format":"Line per Attribute","Log Payload":"false"},"propertyDescriptors":{"Log prefix":{"name":"Log prefix","displayName":"Log prefix","identifiesControllerService":false,"sensitive":false},"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"Log FlowFile Properties":{"name":"Log FlowFile Properties","displayName":"Log FlowFile Properties","identifiesControllerService":false,"sensitive":false},"Log Level":{"name":"Log Level","displayName":"Log Level","identifiesControllerService":false,"sensitive":false},"attributes-to-ignore-regex":{"name":"attributes-to-ignore-regex","displayName":"Attributes to Ignore by Regular Expression","identifiesControllerService":false,"sensitive":false},"Attributes to Ignore":{"name":"Attributes to Ignore","displayName":"Attributes to Ignore","identifiesControllerService":false,"sensitive":false},"Attributes to Log":{"name":"Attributes to Log","displayName":"Attributes to Log","identifiesControllerService":false,"sensitive":false},"attributes-to-log-regex":{"name":"attributes-to-log-regex","displayName":"Attributes to Log by Regular Expression","identifiesControllerService":false,"sensitive":false},"Output Format":{"name":"Output Format","displayName":"Output Format","identifiesControllerService":false,"sensitive":false},"Log Payload":{"name":"Log Payload","displayName":"Log Payload","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"7a080cd4-c411-3b4b-9145-07c2d9f38d9e"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"d1e3982b-54e6-3bdb-a23c-22fcb72aedd2","instanceIdentifier":"6ec1359a-7fec-1f82-0000-00000e5b14c4","name":"","source":{"id":"d4e8309f-3556-3d4c-b8d7-ecdfb94a4d51","type":"FUNNEL","groupId":"7a080cd4-c411-3b4b-9145-07c2d9f38d9e","name":"Funnel","comments":"","instanceIdentifier":"6ec13589-7fec-1f82-0000-000074cc46c9"},"destination":{"id":"60e10c7f-4c06-3478-91ef-c3de1b15785a","type":"PROCESSOR","groupId":"7a080cd4-c411-3b4b-9145-07c2d9f38d9e","name":"LogAttribute","comments":"","instanceIdentifier":"6ec1336f-7fec-1f82-a7a7-3ebd3251b279"},"labelIndex":1,"zIndex":0,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"7a080cd4-c411-3b4b-9145-07c2d9f38d9e"},{"identifier":"c79bf691-abe7-3589-8c61-8f676e7ace9e","instanceIdentifier":"6ec1358e-7fec-1f82-0000-00001aa54d83","name":"","source":{"id":"b3fafc41-e11c-3af2-adbd-4659ec6c6b8e","type":"PROCESSOR","groupId":"7a080cd4-c411-3b4b-9145-07c2d9f38d9e","name":"PutDatabaseRecord","comments":"","instanceIdentifier":"4af035ff-5d0b-13b7-8647-faac70f7921f"},"destination":{"id":"d4e8309f-3556-3d4c-b8d7-ecdfb94a4d51","type":"FUNNEL","groupId":"7a080cd4-c411-3b4b-9145-07c2d9f38d9e","name":"Funnel","comments":"","instanceIdentifier":"6ec13589-7fec-1f82-0000-000074cc46c9"},"labelIndex":0,"zIndex":0,"selectedRelationships":["failure","retry"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"7a080cd4-c411-3b4b-9145-07c2d9f38d9e"},{"identifier":"e4444c0e-0837-30fa-83f9-6a5fec35e009","instanceIdentifier":"6ec13434-7fec-1f82-ffff-fffff96d48f8","name":"","source":{"id":"2e7eea43-622a-3e76-b62f-552bd853fbb6","type":"PROCESSOR","groupId":"7a080cd4-c411-3b4b-9145-07c2d9f38d9e","name":"ExecuteSQLRecord","comments":"","instanceIdentifier":"94473143-804c-1515-9889-848f7211e9e2"},"destination":{"id":"b3fafc41-e11c-3af2-adbd-4659ec6c6b8e","type":"PROCESSOR","groupId":"7a080cd4-c411-3b4b-9145-07c2d9f38d9e","name":"PutDatabaseRecord","comments":"","instanceIdentifier":"4af035ff-5d0b-13b7-8647-faac70f7921f"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"7a080cd4-c411-3b4b-9145-07c2d9f38d9e"},{"identifier":"a41743d5-53d6-3737-b7af-74530e96781b","instanceIdentifier":"94473151-804c-1515-ffff-fffff932f569","name":"","source":{"id":"8f5a85ef-c127-3d7a-83be-c618b993e0b7","type":"PROCESSOR","groupId":"7a080cd4-c411-3b4b-9145-07c2d9f38d9e","name":"GenerateFlowFile","comments":"","instanceIdentifier":"6c2ee7b4-018e-1000-ffff-fffffb137a94"},"destination":{"id":"2e7eea43-622a-3e76-b62f-552bd853fbb6","type":"PROCESSOR","groupId":"7a080cd4-c411-3b4b-9145-07c2d9f38d9e","name":"ExecuteSQLRecord","comments":"","instanceIdentifier":"94473143-804c-1515-9889-848f7211e9e2"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"7a080cd4-c411-3b4b-9145-07c2d9f38d9e"},{"identifier":"b9601ef1-ad19-3fb4-ad1b-a0f2f52f9a57","instanceIdentifier":"6ec1350b-7fec-1f82-0000-000053332647","name":"","source":{"id":"b3fafc41-e11c-3af2-adbd-4659ec6c6b8e","type":"PROCESSOR","groupId":"7a080cd4-c411-3b4b-9145-07c2d9f38d9e","name":"PutDatabaseRecord","comments":"","instanceIdentifier":"4af035ff-5d0b-13b7-8647-faac70f7921f"},"destination":{"id":"342e92d7-2528-3340-9f34-fb92582a5012","type":"PROCESSOR","groupId":"7a080cd4-c411-3b4b-9145-07c2d9f38d9e","name":"LogAttribute","comments":"","instanceIdentifier":"43893142-ac2d-1d9b-a02d-6023d33fcc05"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"7a080cd4-c411-3b4b-9145-07c2d9f38d9e"},{"identifier":"ac7bc410-2d8e-3941-8d31-1e073dc8f9f9","instanceIdentifier":"6ec1358b-7fec-1f82-ffff-ffffef314205","name":"","source":{"id":"2e7eea43-622a-3e76-b62f-552bd853fbb6","type":"PROCESSOR","groupId":"7a080cd4-c411-3b4b-9145-07c2d9f38d9e","name":"ExecuteSQLRecord","comments":"","instanceIdentifier":"94473143-804c-1515-9889-848f7211e9e2"},"destination":{"id":"d4e8309f-3556-3d4c-b8d7-ecdfb94a4d51","type":"FUNNEL","groupId":"7a080cd4-c411-3b4b-9145-07c2d9f38d9e","name":"Funnel","comments":"","instanceIdentifier":"6ec13589-7fec-1f82-0000-000074cc46c9"},"labelIndex":0,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"7a080cd4-c411-3b4b-9145-07c2d9f38d9e"}],"labels":[{"identifier":"42518c83-451d-3b5c-8e8e-05e9b099916e","instanceIdentifier":"6ec13397-7fec-1f82-0000-00005f766b69","position":{"x":3856.0,"y":224.0},"label":"#### Avro Select / Insert ####\n\n1. GenerateFlorFile\n  - avro.schema에 스키마를 지정한다.(컬럼명 대문자 必)\n2. ExecuteSQL Record\n  - SOR.EMP 테이블 조회(/w SQL)\n  - AvroRecordSetWriter 사용\n2-1. AvroRecordSetWriter\n  - avro.schema 속성을 읽는다. Avro파일에 Embed한다.\n3. PutDatabaseRecord\n  - SOR.EMP_CDC 테이블 Insert(/wo SQL)\n※ UpdateRecord를 사용해 스키마 맵핑/변경 후처리 가능","zIndex":0,"width":496.0,"height":272.0,"style":{"font-size":"18px"},"componentType":"LABEL","groupIdentifier":"7a080cd4-c411-3b4b-9145-07c2d9f38d9e"}],"funnels":[{"identifier":"d4e8309f-3556-3d4c-b8d7-ecdfb94a4d51","instanceIdentifier":"6ec13589-7fec-1f82-0000-000074cc46c9","position":{"x":4136.0,"y":736.0},"componentType":"FUNNEL","groupIdentifier":"7a080cd4-c411-3b4b-9145-07c2d9f38d9e"}],"controllerServices":[{"identifier":"e87bfdd0-6c17-3a82-8fde-b1c5662f2d59","instanceIdentifier":"6c2cd386-018e-1000-ffff-ffff95a647fd","name":"AvroWriter(avro.schema)","comments":"","type":"org.apache.nifi.avro.AvroRecordSetWriter","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"1.23.1"},"properties":{"compression-format":"NONE","Schema Write Strategy":"avro-embedded","schema-branch":null,"schema-name":"${schema.name}","cache-size":"1000","schema-registry":null,"schema-access-strategy":"schema-text-property","schema-protocol-version":"1","schema-version":null,"encoder-pool-size":"32","schema-cache":null,"schema-text":"${avro.schema}"},"propertyDescriptors":{"compression-format":{"name":"compression-format","displayName":"Compression Format","identifiesControllerService":false,"sensitive":false},"Schema Write Strategy":{"name":"Schema Write Strategy","displayName":"Schema Write Strategy","identifiesControllerService":false,"sensitive":false},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false},"cache-size":{"name":"cache-size","displayName":"Cache Size","identifiesControllerService":false,"sensitive":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false},"schema-protocol-version":{"name":"schema-protocol-version","displayName":"Schema Protocol Version","identifiesControllerService":false,"sensitive":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false},"encoder-pool-size":{"name":"encoder-pool-size","displayName":"Encoder Pool Size","identifiesControllerService":false,"sensitive":false},"schema-cache":{"name":"schema-cache","displayName":"Schema Cache","identifiesControllerService":true,"sensitive":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordSetWriterFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.23.1"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"6ec13728-7fec-1f82-ffff-ffffa6c726de"},{"identifier":"42de6642-f704-3f75-a8aa-a244b5587353","instanceIdentifier":"c81e3f76-b72f-1849-ffff-ffffc0cc1de7","name":"DBCPConnectionPool","comments":"","type":"org.apache.nifi.dbcp.DBCPConnectionPool","bundle":{"group":"org.apache.nifi","artifact":"nifi-dbcp-service-nar","version":"1.23.1"},"properties":{"dbcp-min-idle-conns":"0","Max Wait Time":"500 millis","Database Driver Class Name":"oracle.jdbc.driver.OracleDriver","dbcp-min-evictable-idle-time":"30 mins","kerberos-principal":null,"Max Total Connections":"8","kerberos-credentials-service":null,"dbcp-max-conn-lifetime":"-1","Validation-query":null,"Database Connection URL":"jdbc:oracle:thin:@//192.168.1.2:1621/ORCL","dbcp-time-between-eviction-runs":"-1","Database User":"NKSETL","kerberos-user-service":null,"dbcp-soft-min-evictable-idle-time":"-1","database-driver-locations":"./lib/ojdbc7.jar","dbcp-max-idle-conns":"8"},"propertyDescriptors":{"kerberos-password":{"name":"kerberos-password","displayName":"Kerberos Password","identifiesControllerService":false,"sensitive":true},"dbcp-min-idle-conns":{"name":"dbcp-min-idle-conns","displayName":"Minimum Idle Connections","identifiesControllerService":false,"sensitive":false},"Max Wait Time":{"name":"Max Wait Time","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false},"Database Driver Class Name":{"name":"Database Driver Class Name","displayName":"Database Driver Class Name","identifiesControllerService":false,"sensitive":false},"dbcp-min-evictable-idle-time":{"name":"dbcp-min-evictable-idle-time","displayName":"Minimum Evictable Idle Time","identifiesControllerService":false,"sensitive":false},"kerberos-principal":{"name":"kerberos-principal","displayName":"Kerberos Principal","identifiesControllerService":false,"sensitive":false},"Max Total Connections":{"name":"Max Total Connections","displayName":"Max Total Connections","identifiesControllerService":false,"sensitive":false},"kerberos-credentials-service":{"name":"kerberos-credentials-service","displayName":"Kerberos Credentials Service","identifiesControllerService":true,"sensitive":false},"dbcp-max-conn-lifetime":{"name":"dbcp-max-conn-lifetime","displayName":"Max Connection Lifetime","identifiesControllerService":false,"sensitive":false},"Validation-query":{"name":"Validation-query","displayName":"Validation query","identifiesControllerService":false,"sensitive":false},"Database Connection URL":{"name":"Database Connection URL","displayName":"Database Connection URL","identifiesControllerService":false,"sensitive":false},"dbcp-time-between-eviction-runs":{"name":"dbcp-time-between-eviction-runs","displayName":"Time Between Eviction Runs","identifiesControllerService":false,"sensitive":false},"Database User":{"name":"Database User","displayName":"Database User","identifiesControllerService":false,"sensitive":false},"kerberos-user-service":{"name":"kerberos-user-service","displayName":"Kerberos User Service","identifiesControllerService":true,"sensitive":false},"dbcp-soft-min-evictable-idle-time":{"name":"dbcp-soft-min-evictable-idle-time","displayName":"Soft Minimum Evictable Idle Time","identifiesControllerService":false,"sensitive":false},"database-driver-locations":{"name":"database-driver-locations","displayName":"Database Driver Location(s)","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["DIRECTORY","URL","FILE"]}},"dbcp-max-idle-conns":{"name":"dbcp-max-idle-conns","displayName":"Max Idle Connections","identifiesControllerService":false,"sensitive":false},"Password":{"name":"Password","displayName":"Password","identifiesControllerService":false,"sensitive":true}},"controllerServiceApis":[{"type":"org.apache.nifi.dbcp.DBCPService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.23.1"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"6ec13728-7fec-1f82-ffff-ffffa6c726de"},{"identifier":"4ca2f01a-805b-3c67-a9b1-18d80a75f362","instanceIdentifier":"66fdc9b8-018e-1000-ffff-ffffce636e62","name":"AvroReader","type":"org.apache.nifi.avro.AvroReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"1.23.1"},"properties":{"schema-branch":null,"schema-name":"${schema.name}","cache-size":"1000","schema-registry":null,"schema-access-strategy":"embedded-avro-schema","schema-version":null,"schema-text":"${avro.schema}"},"propertyDescriptors":{"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false},"cache-size":{"name":"cache-size","displayName":"Cache Size","identifiesControllerService":false,"sensitive":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.23.1"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"6ec13728-7fec-1f82-ffff-ffffa6c726de"}],"variables":{},"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","logFileSuffix":"","componentType":"PROCESS_GROUP","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE"},"externalControllerServices":{},"parameterContexts":{},"flowEncodingVersion":"1.0","parameterProviders":{},"latest":false}