nifi-flow/TarArchive.json
{"flowContents":{"identifier":"13b99ec7-4b7f-3460-ad1f-db833bdd2725","instanceIdentifier":"8aa3b7d6-018e-1000-ffff-ffffd7053431","name":"TarArchive","comments":"","position":{"x":2024.0,"y":840.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"cc920306-fcb9-3864-bb87-a6c64bc2fd7c","instanceIdentifier":"8aa3d7eb-018e-1000-0000-000000e19419","name":"ExecuteGroovyScript","comments":"","position":{"x":823.9999757747296,"y":404.00000786688565},"type":"org.apache.nifi.processors.groovyx.ExecuteGroovyScript","bundle":{"group":"org.apache.nifi","artifact":"nifi-groovyx-nar","version":"1.23.1"},"properties":{"groovyx-script-body":"import org.apache.commons.compress.archivers.tar.TarArchiveOutputStream\nimport org.apache.commons.compress.archivers.tar.TarArchiveEntry\nimport org.apache.nifi.processor.io.StreamCallback\nimport java.nio.file.Files\nimport java.nio.file.Paths\nimport java.io.File\nimport java.io.FileInputStream\nimport java.io.FileOutputStream\n\n// ExecuteScript Processor에서 제공하는 FlowFile을 처리하는 로직\nflowFile = session.get()\nif (!flowFile) return\n\ntry {\n    // FlowFile 속성에서 필요한 정보를 읽음\n    def filesToArchivePath = flowFile.getAttribute('filesToArchive')\n    def tarFilePath = flowFile.getAttribute('tarFilePath')\n\n    // tar 파일 스트림을 생성\n    FileOutputStream fos = new FileOutputStream(new File(tarFilePath))\n    TarArchiveOutputStream tarOut = new TarArchiveOutputStream(fos)\n\n    // 지정된 파일들을 tar 압축\n    filesToArchivePath.split(',').each { filePath ->\n        File file = new File(filePath.trim())\n        if (file.exists()) {\n            tarOut.putArchiveEntry(new TarArchiveEntry(file, file.name))\n            FileInputStream fis = new FileInputStream(file)\n            fis.transferTo(tarOut)\n            fis.close()\n            tarOut.closeArchiveEntry()\n        } else {\n            log.error(\"File not found: $filePath\")\n        }\n    }\n    tarOut.finish()\n    tarOut.close()\n    fos.close()\n\n    // 성공적으로 처리된 FlowFile을 전송\n    session.transfer(flowFile, REL_SUCCESS)\n} catch (Exception e) {\n    log.error(\"Error while creating tar archive: ${e.message}\", e)\n    session.transfer(flowFile, REL_FAILURE)\n}\n","groovyx-failure-strategy":"rollback","groovyx-additional-classpath":null,"groovyx-script-file":null},"propertyDescriptors":{"groovyx-script-body":{"name":"groovyx-script-body","displayName":"Script Body","identifiesControllerService":false,"sensitive":false},"groovyx-failure-strategy":{"name":"groovyx-failure-strategy","displayName":"Failure strategy","identifiesControllerService":false,"sensitive":false},"groovyx-additional-classpath":{"name":"groovyx-additional-classpath","displayName":"Additional classpath","identifiesControllerService":false,"sensitive":false},"groovyx-script-file":{"name":"groovyx-script-file","displayName":"Script File","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"13b99ec7-4b7f-3460-ad1f-db833bdd2725"},{"identifier":"b3e226ec-92ce-3486-b0ca-6b332e4b4a93","instanceIdentifier":"8aa5e6b5-018e-1000-ffff-fffffcea0e17","name":"LogAttribute","comments":"","position":{"x":824.0,"y":632.0},"type":"org.apache.nifi.processors.standard.LogAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.23.1"},"properties":{"Log prefix":null,"character-set":"UTF-8","Log FlowFile Properties":"true","Log Level":"info","attributes-to-ignore-regex":null,"Attributes to Ignore":null,"Attributes to Log":null,"attributes-to-log-regex":".*","Output Format":"Line per Attribute","Log Payload":"false"},"propertyDescriptors":{"Log prefix":{"name":"Log prefix","displayName":"Log prefix","identifiesControllerService":false,"sensitive":false},"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"Log FlowFile Properties":{"name":"Log FlowFile Properties","displayName":"Log FlowFile Properties","identifiesControllerService":false,"sensitive":false},"Log Level":{"name":"Log Level","displayName":"Log Level","identifiesControllerService":false,"sensitive":false},"attributes-to-ignore-regex":{"name":"attributes-to-ignore-regex","displayName":"Attributes to Ignore by Regular Expression","identifiesControllerService":false,"sensitive":false},"Attributes to Ignore":{"name":"Attributes to Ignore","displayName":"Attributes to Ignore","identifiesControllerService":false,"sensitive":false},"Attributes to Log":{"name":"Attributes to Log","displayName":"Attributes to Log","identifiesControllerService":false,"sensitive":false},"attributes-to-log-regex":{"name":"attributes-to-log-regex","displayName":"Attributes to Log by Regular Expression","identifiesControllerService":false,"sensitive":false},"Output Format":{"name":"Output Format","displayName":"Output Format","identifiesControllerService":false,"sensitive":false},"Log Payload":{"name":"Log Payload","displayName":"Log Payload","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"13b99ec7-4b7f-3460-ad1f-db833bdd2725"},{"identifier":"3d382ecd-0b08-3843-b13c-c1f79b3d7e89","instanceIdentifier":"8aa45d8d-018e-1000-ffff-ffffda0e7255","name":"GenerateFlowFile","comments":"","position":{"x":824.0,"y":152.0},"type":"org.apache.nifi.processors.standard.GenerateFlowFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.23.1"},"properties":{"character-set":"UTF-8","File Size":"0B","mime-type":null,"generate-ff-custom-text":null,"Batch Size":"1","Unique FlowFiles":"false","tarFilePath":"/data/flow.tar","Data Format":"Text","filesToArchive":"/data/flow.json.gz,/data/flow.xml.gz"},"propertyDescriptors":{"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"File Size":{"name":"File Size","displayName":"File Size","identifiesControllerService":false,"sensitive":false},"mime-type":{"name":"mime-type","displayName":"Mime Type","identifiesControllerService":false,"sensitive":false},"generate-ff-custom-text":{"name":"generate-ff-custom-text","displayName":"Custom Text","identifiesControllerService":false,"sensitive":false},"Batch Size":{"name":"Batch Size","displayName":"Batch Size","identifiesControllerService":false,"sensitive":false},"Unique FlowFiles":{"name":"Unique FlowFiles","displayName":"Unique FlowFiles","identifiesControllerService":false,"sensitive":false},"tarFilePath":{"name":"tarFilePath","displayName":"tarFilePath","identifiesControllerService":false,"sensitive":false},"Data Format":{"name":"Data Format","displayName":"Data Format","identifiesControllerService":false,"sensitive":false},"filesToArchive":{"name":"filesToArchive","displayName":"filesToArchive","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"1 min","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"13b99ec7-4b7f-3460-ad1f-db833bdd2725"},{"identifier":"9ddb379e-80e4-32ef-a08c-9713e617821b","instanceIdentifier":"5ce834c7-6a2a-1d9a-8050-a580a313f04e","name":"LogAttribute","comments":"","position":{"x":1280.0,"y":632.0},"type":"org.apache.nifi.processors.standard.LogAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.23.1"},"properties":{"Log prefix":null,"character-set":"UTF-8","Log FlowFile Properties":"true","Log Level":"info","attributes-to-ignore-regex":null,"Attributes to Ignore":null,"Attributes to Log":null,"attributes-to-log-regex":".*","Output Format":"Line per Attribute","Log Payload":"false"},"propertyDescriptors":{"Log prefix":{"name":"Log prefix","displayName":"Log prefix","identifiesControllerService":false,"sensitive":false},"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"Log FlowFile Properties":{"name":"Log FlowFile Properties","displayName":"Log FlowFile Properties","identifiesControllerService":false,"sensitive":false},"Log Level":{"name":"Log Level","displayName":"Log Level","identifiesControllerService":false,"sensitive":false},"attributes-to-ignore-regex":{"name":"attributes-to-ignore-regex","displayName":"Attributes to Ignore by Regular Expression","identifiesControllerService":false,"sensitive":false},"Attributes to Ignore":{"name":"Attributes to Ignore","displayName":"Attributes to Ignore","identifiesControllerService":false,"sensitive":false},"Attributes to Log":{"name":"Attributes to Log","displayName":"Attributes to Log","identifiesControllerService":false,"sensitive":false},"attributes-to-log-regex":{"name":"attributes-to-log-regex","displayName":"Attributes to Log by Regular Expression","identifiesControllerService":false,"sensitive":false},"Output Format":{"name":"Output Format","displayName":"Output Format","identifiesControllerService":false,"sensitive":false},"Log Payload":{"name":"Log Payload","displayName":"Log Payload","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"13b99ec7-4b7f-3460-ad1f-db833bdd2725"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"ee8d0960-6b3b-376b-ba65-bd4d461a8e4c","instanceIdentifier":"8aa61bd3-018e-1000-0000-00000b0b2b37","name":"","source":{"id":"cc920306-fcb9-3864-bb87-a6c64bc2fd7c","type":"PROCESSOR","groupId":"13b99ec7-4b7f-3460-ad1f-db833bdd2725","name":"ExecuteGroovyScript","comments":"","instanceIdentifier":"8aa3d7eb-018e-1000-0000-000000e19419"},"destination":{"id":"9ddb379e-80e4-32ef-a08c-9713e617821b","type":"PROCESSOR","groupId":"13b99ec7-4b7f-3460-ad1f-db833bdd2725","name":"LogAttribute","comments":"","instanceIdentifier":"5ce834c7-6a2a-1d9a-8050-a580a313f04e"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"13b99ec7-4b7f-3460-ad1f-db833bdd2725"},{"identifier":"fc61c166-2816-3c44-9573-2636b72d8a85","instanceIdentifier":"8aa61178-018e-1000-ffff-ffff99543d29","name":"","source":{"id":"cc920306-fcb9-3864-bb87-a6c64bc2fd7c","type":"PROCESSOR","groupId":"13b99ec7-4b7f-3460-ad1f-db833bdd2725","name":"ExecuteGroovyScript","comments":"","instanceIdentifier":"8aa3d7eb-018e-1000-0000-000000e19419"},"destination":{"id":"b3e226ec-92ce-3486-b0ca-6b332e4b4a93","type":"PROCESSOR","groupId":"13b99ec7-4b7f-3460-ad1f-db833bdd2725","name":"LogAttribute","comments":"","instanceIdentifier":"8aa5e6b5-018e-1000-ffff-fffffcea0e17"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"13b99ec7-4b7f-3460-ad1f-db833bdd2725"},{"identifier":"2d197749-46ab-3c4c-9648-97d2635122b9","instanceIdentifier":"8aa5aee0-018e-1000-0000-00000f76576a","name":"","source":{"id":"3d382ecd-0b08-3843-b13c-c1f79b3d7e89","type":"PROCESSOR","groupId":"13b99ec7-4b7f-3460-ad1f-db833bdd2725","name":"GenerateFlowFile","comments":"","instanceIdentifier":"8aa45d8d-018e-1000-ffff-ffffda0e7255"},"destination":{"id":"cc920306-fcb9-3864-bb87-a6c64bc2fd7c","type":"PROCESSOR","groupId":"13b99ec7-4b7f-3460-ad1f-db833bdd2725","name":"ExecuteGroovyScript","comments":"","instanceIdentifier":"8aa3d7eb-018e-1000-0000-000000e19419"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"13b99ec7-4b7f-3460-ad1f-db833bdd2725"}],"labels":[],"funnels":[],"controllerServices":[{"identifier":"42de6642-f704-3f75-a8aa-a244b5587353","instanceIdentifier":"c81e3f76-b72f-1849-ffff-ffffc0cc1de7","name":"DBCPConnectionPool","comments":"","type":"org.apache.nifi.dbcp.DBCPConnectionPool","bundle":{"group":"org.apache.nifi","artifact":"nifi-dbcp-service-nar","version":"1.23.1"},"properties":{"dbcp-min-idle-conns":"0","Max Wait Time":"500 millis","Database Driver Class Name":"oracle.jdbc.driver.OracleDriver","dbcp-min-evictable-idle-time":"30 mins","kerberos-principal":null,"Max Total Connections":"8","kerberos-credentials-service":null,"dbcp-max-conn-lifetime":"-1","Validation-query":null,"Database Connection URL":"jdbc:oracle:thin:@//192.168.1.2:1621/ORCL","dbcp-time-between-eviction-runs":"-1","Database User":"NKSETL","kerberos-user-service":null,"dbcp-soft-min-evictable-idle-time":"-1","database-driver-locations":"./lib/ojdbc7.jar","dbcp-max-idle-conns":"8"},"propertyDescriptors":{"kerberos-password":{"name":"kerberos-password","displayName":"Kerberos Password","identifiesControllerService":false,"sensitive":true},"dbcp-min-idle-conns":{"name":"dbcp-min-idle-conns","displayName":"Minimum Idle Connections","identifiesControllerService":false,"sensitive":false},"Max Wait Time":{"name":"Max Wait Time","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false},"Database Driver Class Name":{"name":"Database Driver Class Name","displayName":"Database Driver Class Name","identifiesControllerService":false,"sensitive":false},"dbcp-min-evictable-idle-time":{"name":"dbcp-min-evictable-idle-time","displayName":"Minimum Evictable Idle Time","identifiesControllerService":false,"sensitive":false},"kerberos-principal":{"name":"kerberos-principal","displayName":"Kerberos Principal","identifiesControllerService":false,"sensitive":false},"Max Total Connections":{"name":"Max Total Connections","displayName":"Max Total Connections","identifiesControllerService":false,"sensitive":false},"kerberos-credentials-service":{"name":"kerberos-credentials-service","displayName":"Kerberos Credentials Service","identifiesControllerService":true,"sensitive":false},"dbcp-max-conn-lifetime":{"name":"dbcp-max-conn-lifetime","displayName":"Max Connection Lifetime","identifiesControllerService":false,"sensitive":false},"Validation-query":{"name":"Validation-query","displayName":"Validation query","identifiesControllerService":false,"sensitive":false},"Database Connection URL":{"name":"Database Connection URL","displayName":"Database Connection URL","identifiesControllerService":false,"sensitive":false},"dbcp-time-between-eviction-runs":{"name":"dbcp-time-between-eviction-runs","displayName":"Time Between Eviction Runs","identifiesControllerService":false,"sensitive":false},"Database User":{"name":"Database User","displayName":"Database User","identifiesControllerService":false,"sensitive":false},"kerberos-user-service":{"name":"kerberos-user-service","displayName":"Kerberos User Service","identifiesControllerService":true,"sensitive":false},"dbcp-soft-min-evictable-idle-time":{"name":"dbcp-soft-min-evictable-idle-time","displayName":"Soft Minimum Evictable Idle Time","identifiesControllerService":false,"sensitive":false},"database-driver-locations":{"name":"database-driver-locations","displayName":"Database Driver Location(s)","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["DIRECTORY","URL","FILE"]}},"dbcp-max-idle-conns":{"name":"dbcp-max-idle-conns","displayName":"Max Idle Connections","identifiesControllerService":false,"sensitive":false},"Password":{"name":"Password","displayName":"Password","identifiesControllerService":false,"sensitive":true}},"controllerServiceApis":[{"type":"org.apache.nifi.dbcp.DBCPService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.23.1"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"8aa3b7d6-018e-1000-ffff-ffffd7053431"}],"variables":{},"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","logFileSuffix":"","componentType":"PROCESS_GROUP","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE"},"externalControllerServices":{},"parameterContexts":{},"flowEncodingVersion":"1.0","parameterProviders":{},"latest":false}